.day {
  &__header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 44px;
    grid-template-rows: 60px;
    justify-items: end;
    align-items: center;
    grid-column-gap: 10px; //Safari <12
    grid-row-gap: 10px; //Safari <12

    p {
      margin-bottom: 0;
    }

    &__date {
      justify-self: start;
    }

    &__temp {
      text-align: right;
      &__max {
        font-size: 1.1rem;
      }
    }

    &__icon-weather {
      width: 40px;
      height: auto;
    }

    &__btn-details {
      width: $btnDimension;
      margin-right: -5px;
    }

    &__date__weekday,
    &__temp__min {
      font-style: 1rem;
      font-weight: 300;
    }
  }
  &__details {
    transition: 0.2s;
    overflow: hidden;

    &__container {
      padding: 1rem 0 2rem;
    }

    &__par {
      line-height: 1.3;

      .wind-direction {
        width: auto;
        height: 0.875rem;
        vertical-align: baseline;
      }
    }
  }
}

@media (min-width: 768px) {
  .day {
    &__header {
      grid-template-columns: 3fr 2fr 2fr 44px;
      grid-template-rows: 70px;

      &__icon-weather {
        width: 45px;
      }
    }

    &__details {
      &__par {
        line-height: 1.4;
      }
    }
  }
}
