.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;

  width: 100vw;
  height: 100vh;
  background-color: $colorBgModal;
  opacity: 0;
  transition: 0.2s;

  &.visible {
    opacity: 1;
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 98%;
    max-width: 700px;
    padding: 20px;
    border-radius: $borderRadius;
    background-color: #fff;
    opacity: 0;
    transition: 0.2s;

    &.visible {
      opacity: 1;
    }
  }

  &__header {
    margin-right: $btnDimension + 5px;
  }

  &__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    width: $btnDimension;
  }

  &__body {
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid $colorLightGray;
    overflow-x: hidden;

    .cities-list__header {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      margin-top: 0;
    }

    .cities-list {
      padding: 0;
    }
  }
}
