@import "reset";
@import "variables";
@import "fonts";
@import "typography";
@import "commons";
@import "app";
@import "navigation";
@import "citiesFound";
@import "citiesList";
@import "footer";
@import "form";
@import "header";
@import "forecast";
@import "currentWeather";
@import "forecast8DaysAnd48Hours";
@import "dailyAndHourlyForecast";
@import "modal";
@import "mapLocation";
@import "spinner";
@import "leaflet";

body {
  overflow-x: hidden;
}

#root {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
