.app-bg {
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;

  object-fit: cover;
}

.header,
.nav,
.main {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}
