.cities-list,
.cities-list__header {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: $borderRadius;
  background-color: $bgcText;

  line-height: 1.2;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.5rem;

  &__link {
    flex-grow: 1;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    min-height: 44px;

    color: #000;
    overflow: hidden;

    &:first-of-type {
      margin-right: 1rem;
    }

    &:active {
      color: #fff;
      text-shadow: 0 0 5px #000;
    }
  }

  &__btn {
    flex-grow: 0;

    width: $btnDimension;
    margin-left: 0.5rem;
  }

  &__name {
    margin-right: 1rem;
    flex-grow: 1;
    p:first-of-type {
      font-weight: 700;
    }
    p:last-of-type {
      font-size: 0.75rem;
    }
  }

  &__country {
    font-size: 0.875rem;

    &__flag {
      height: 0.875rem;
      margin-left: 5px;
    }
  }
}

@media (hover: hover) {
  .city__btn:hover:not(:active) {
    color: $colorFocus;
  }
}
