.footer {
  position: absolute;
  width: 100%;
  padding: 7px;
  margin: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  text-align: center;
}
