.header {
  // .header style - app.scss

  &--start {
    position: absolute;
    bottom: calc(50%);
    left: 50%;
    transform: translate(-50%, 0);

    .header__title {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 400;
    text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 4px #000,
      0px 0px 6px #000;
  }
}

@media (min-width: 768px) {
  .header {
    &--start {
      .header__title {
        margin-bottom: 30px;
      }
    }
  }
}
