.result-hourly {
  grid-area: hourly;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: $borderRadius;
  background-color: rgba(255, 255, 255, 0.7);

  &__header {
    padding-bottom: 5px;
  }

  &__list__day-list__title {
    padding: 5px 0;
  }
}
