.app {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  &-start__header {
    position: absolute;
    bottom: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 700px;
    padding: 10px;
  }

  &-start__main {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    max-width: 700px;
    padding: 10px;
  }

  &-container {
    max-width: 320px;
    padding: 10px;
    margin: 0 auto;

    display: grid;
    grid-template-areas: "header" "main" "footer";
  }

  &__header {
    grid-area: header;
  }

  &__main {
    grid-area: main;

    margin-bottom: 30px;
  }

  &__footer {
    grid-area: footer;
  }
}

@media (min-width: 640px) {
  .app {
    &-container {
      max-width: 800px;
    }

    &__header {
      min-width: 280px;
      margin-bottom: 20px;
    }

    &__main {
      display: grid;
      grid-template-areas: "current daily" "blank hourly";
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
  }
}

@media (min-width: 768px) {
  .app {
    &-container {
      padding: 20px;
    }
    &-start__header {
      padding: 20px;
    }

    &-start__main {
      padding: 20px;
    }

    &__header {
      margin-bottom: 40px;
    }
  }
}
