@import "typography";

.day-forecast {
  padding-top: 10px;

  &__header {
    display: flex;
    justify-content: space-between;

    &__date {
      min-width: 100px;
      padding-right: 10px;
    }

    &__temp {
      min-width: 70px;
      padding-right: 10px;
    }

    &__icon-weather {
      padding-right: 10px;
      &__img {
        width: 43px;
        height: 43px;
      }
    }

    &__btn-details {
      padding: 0;
      width: 20px;
      background-color: transparent;
      border: none;
      font-size: 1.4rem;
    }

    &__date--weekday,
    &__weather--temp-min {
      font-style: 1rem;
      font-weight: 300;
    }
  }
  &__details {
    height: 0;
    transition: 0.3s;
    transform-origin: 0 0;
    transform: scaleY(0);
    overflow: hidden;
    &--active {
      padding-top: 10px;
      transform: scaleY(1);
    }
    &__par {
      line-height: 130%;
    }
  }
}

@media (min-width: 768px) {
  .day-forecast {
    &__header {
      &__date {
        min-width: 130px;
      }
      &__temp {
        min-width: 80px;
        padding-right: 10px;
      }
    }

    &__details {
      &__par {
        line-height: 130%;
      }
    }
  }
}
