.result-daily {
  grid-area: daily;
  height: auto;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);

  &__header {
    padding-bottom: 5px;
  }
}
